/*styles for the mushroom page */

/*universal*/

body{
	padding: 0;
} 

main{

}

aside{

	border-left: 10px solid grey;
	background-color:#AFA189 ; /*lint */
}

.row{
	border: 1px solid black;
}

footer{

}


/*typography*/

#info{
	background-color: #DBB98C; /* champagne */
	border: 1px solid black;
	width: 100%;
	padding: 2%;
}

p{
	line-height: 2.5;
	font-size: 1.5em;
	padding: 2%;
	border: 1px solid black;
	background-color: #D9DAD6; /*pewter */

}

h1,h2,h3,h4{
	line-height: 2.5;
	font-weight: bold;
}

/*media */

img{
	border: 1px solid black;
	padding:10px;
	margin: 10px;
	margin: 20px;
}

/*nav */
nav{
	margin: 10px;
}

#nav-list{
	text-align: center;

}
nav a{
	font-size: 1.5em;
}

nav a:hover{
	background-color: orange;
}

header{

	padding: 10px;
	background-color:#9C7350; /*tan */
}

